* {
    margin: 0;
    padding: 0;
}


.Profile {
    width: auto;
    margin: 50px;
    padding: 25px;
    border: 3px solid #31a8f3;
    border-radius: 20px;
    color: rgb(73, 80, 87);
    font-weight: bold;
    height: 80vh;
}
.info {
    margin-top: 50px;
    margin-left: 150px;
    text-align: left;
    font-family: sans-serif;
    font-size: large;
}

.pic {
    width: 320px;
    height: 380px;
    position: absolute;
    top: 900px;
    left: 70%;
    transform: translate(-55%);
    bottom: 0;
}

